<template>
  <q-page>
    <div class="flexbox q-pa-md">

      <div>
        <mp-button-toggle
        :options="toggleOptions.options"
        :selected="toggleOptions.options[0].value"
        :color="toggleOptions.color"
        :no-caps="toggleOptions.noCaps"
        @on-toggle="handleToggle" />
        <div>
          <p>{{ toggleValue }}</p>
        </div>
      </div>

      <div class="flexbox gap">

        <mp-filter-search @on-click="handleSearch"/>
        <div>
          <p>{{ searchValue }}</p>
        </div>

        <mp-select
        :label="filterOptions.label"
        :options="filterOptions.options"
        :no-caps="filterOptions.noCaps"
        :unelevated="filterOptions.unelevated"
        :icon="filterOptions.icon"
        :dropdown-icon="filterOptions.dropdownIcon"
        :align-dropdown="filterOptions.alignDropdown"
        :align-item="filterOptions.alignItem"
        :clickable="filterOptions.clickable"
        :v-close-popup="filterOptions.true"
        :offset="filterOptions.offset"
        :content-style="filterSelectStyles"
        class="dropdownButton"
        @on-click="handleSelect"

        />
        <div>
          <p>{{ selectValue }}</p>
        </div>
      </div>
  </div>
  <div class="q-px-sm">

    <UserTable />
  </div>

  </q-page>
</template>

<script setup>
import { defineComponent, ref, computed} from 'vue'
import UserTable from 'components/UserTable.vue'
import MpButtonToggle from 'src/components/MpButtonToggle.vue'
import MpFilterSearch from 'src/components/MpFilterSearch.vue'
import MpSelect from 'src/components/MpSelect.vue'

let toggleValue = ref('')
let searchValue = ref('')
let selectValue = ref('')

const handleToggle = (toggleVal) => {
  let receivedValArr = toggleOptions.value.options.filter(opt => opt.label === toggleVal)
  toggleValue.value = receivedValArr[0].value
}

const handleSearch = (searchVal) => {
  searchValue.value = searchVal.target.value
}
const handleSelect = (searchVal) => {
  selectValue.value = searchVal.target.innerHTML
}

let toggleOptions = ref({
  color: 'primary',
  noCaps: true,
  options: [
          {label: 'Все', value: 'all'},
          {label: 'Новые', value: 'new'},
          {label: 'Одобренные', value: 'confirmed'},
          {label: 'На доработке', value: 'finalize'}
        ]})

let filterOptions = ref({
  label: 'Фильтр',
  options: [
        'Доработать', 'Истекает', 'Новый', 'Одобрено'
      ],
  noCaps: true,
  unelevated: true,
  icon: 'img:src/assets/list.svg',
  dropdownIcon: 'img:src/assets/expand_gray_24dp.svg',
  alignDropdown: 'between',
  alignItem: 'center',
  clickable: true,
  vClosePopup: true,
  offset: [0, 10],
 })

 const filterSelectStyles = computed(() => {
  return {
    "border": "1px solid #1F5BFF",
    "border-radius": "12px",
    "box-shadow": "none",
    "font-weight": "bold",
  }
})



</script>

<style scoped>
.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}

.gap{
  gap: 8px;
}

.dropdownButton {
  min-width: 120px;
  min-height: 43px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background: #B1B1B1;
  cursor: pointer;
}
.dropdownButton:hover{
  background: linear-gradient(90deg, #1F5BFF 0%, rgba(103, 34, 242, 0.6) 96.63%);
}
.dropdownButton::before {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 11px;
  background-color: white;
  z-index: -1;
  transition: 200ms;
}
.dropdownButton::after {
  background: #262626;
  background-clip: text;
  color: #262626;
  transition: 200ms;
}
.dropdownButton:hover::before {
  opacity: 100%;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}
.dropdownButton:hover::after {
  color: #262626;
}

</style>
