<script setup>
import { ref } from 'vue'
defineProps(['title'])

const model = ref('all')
</script>

<template>
  <div>
      <q-btn-toggle
        v-model="model"
        no-caps
        toggle-color="primary"
        :options="[
          {label: 'Все', value: 'all'},
          {label: 'Новые', value: 'new'},
          {label: 'Одобренные', value: 'confirmed'},
          {label: 'На доработке', value: 'finalize'}
        ]"
      />
    </div>
</template>
