<script setup>
import { ref } from 'vue'


const ph = ref('')
const dense = ref(false)
</script>

<template>
  <div class="row gap search-container">
    <div class="search-input">
      <q-input outlined v-model="ph" placeholder="Поиск" :dense="dense" />
    </div>
    <div class="search-button">
      <q-btn color="primary" label="Найти" no-caps />
    </div>
  </div>
</template>

<style scoped>
.gap{
  gap: 0px;
}
.search-container{
  position: relative;
}
.search-button{
  position: absolute;
  right: 5px;
  top: 10px;

}
</style>>
