<script setup>
import { ref } from 'vue'

const filter = ref('Фильтр')
const options = [
        'Доработать', 'Истекает', 'Новый', 'Одобрено'
      ]
defineProps(['title'])
</script>

<template>
  <q-btn-dropdown :label="filter"
                                no-caps
                                unelevated
                                icon="img:src/assets/list.svg"

                                dropdown-icon="img:src/assets/expand_gray_24dp.svg"
                                align="between"
                                class="dropdownButton q-pa-md"
                                content-style="
                                border: 1px solid #1F5BFF;
                                border-radius: 12px;
                                box-shadow: none;
                                font-weight: bold;"
                                :menu-offset="[0, 10]"
                >

                    <q-list>
                        <q-item v-for="item in options"
                                :key="item"
                                clickable
                                align="center"
                                v-close-popup>
                            <q-item-section>
                                {{ item}}
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-btn-dropdown>

</template>

<style scoped>
.dropdownButton {
  min-width: 120px;
  min-height: 43px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background: #B1B1B1;
  cursor: pointer;
}
.dropdownButton:hover{
  background: linear-gradient(90deg, #1F5BFF 0%, rgba(103, 34, 242, 0.6) 96.63%);
}
.dropdownButton::before {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 11px;
  background-color: white;
  z-index: -1;
  transition: 200ms;
}
.dropdownButton::after {
  background: #262626;
  background-clip: text;
  color: #262626;
  transition: 200ms;
}
.dropdownButton:hover::before {
  opacity: 100%;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}
.dropdownButton:hover::after {
  color: #262626;
}

</style>
