<script setup lang="ts"> 'vue';
const emit = defineEmits(['onClick'])

const handleClick = (event) => {
  emit('onClick', event)
}

const props = defineProps({
  label: {
    type: String
  },
  color: {
    type: String
  },
  noCaps: {
    type: Boolean
  },
})

</script>

<template>
  <q-btn :color="props.color" :no-caps="props.noCaps" @click="handleClick">
    <slot></slot>
  </q-btn>
</template>

<style scoped>

</style>>
