<script setup lang="ts">
import { ref } from 'vue'

const emit = defineEmits(['onToggle'])

const handleClick = (event) => {
  emit('onToggle', event.target.innerText)
}
const props = defineProps({
  options: {
    type: Array,
  },
  selected: {
    type: String
  },
  color: {
    type: String
  },
  noCaps: {
    type: Boolean
  },
})

const model = ref(props.selected)

</script>

<template>
  <div>
      <q-btn-toggle
        v-model="model"
        :no-caps="props.noCaps"
        :toggle-color="props.color"
        :options="props.options"
        @click="handleClick"
      />
    </div>
</template>
