<script setup lang="ts">
import { ref } from 'vue'
import MpInput from 'components/MpInput.vue'
import MpButton from 'components/MpButton.vue'

const emit = defineEmits(['onClick'])

const message = ref('')

const handleInput = (event) => {
  message.value = event
}

const handleButton = (event) => {
  event.target.value = message.value
  emit('onClick', event)
}

const inputObj = {
  dense: false,
  placeholder: 'Поиск',
  outlined: true,
  modelValue: ''
}

const buttonObj = {
  label: 'Найти',
  color: 'primary',
  noCaps: true,
}

</script>

<template>
  <div class="row gap search-container">
    <div class="search-input">
      <mp-input
      :dense="inputObj.dense"
      :placeholder="inputObj.placeholder"
      :outlined="inputObj.outlined"
      :model-value="inputObj.modelValue"
      @update:modelValue="handleInput"
      />
    </div>
    <div class="search-button">
      <mp-button :color="buttonObj.color" :no-caps="buttonObj.noCaps" @on-click="handleButton">
        Найти
      </mp-button>
    </div>
  </div>
</template>

<style scoped>
.gap{
  gap: 0px;
}
.search-container{
  position: relative;
}
.search-button{
  position: absolute;
  right: 5px;
  top: 10px;

}
</style>>
