<script setup lang="ts">
import { computed } from 'vue'
const emit = defineEmits(['update:modelValue'])

const props = defineProps({
  outlined: {
    type: Boolean
  },
  placeholder: {
    type: String
  },
  dense: {
    type: Boolean
  },
  modelValue: {
    type: String
  }
})

const value = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value);
  },
})


</script>

<template>
  <q-input
  :outlined="props.outlined"
  :placeholder="props.placeholder"
  :dense="props.dense"
  v-model="value"
   />
</template>

<style scoped>

</style>>
