<script setup>
import { ref } from 'vue'

const emit = defineEmits(['onClick'])

const handleClick = (event) => {
  emit('onClick', event)
}


const props = defineProps({

  label: {
    type: String
  },
  options: {
    type: Array,
  },
  noCaps: {
    type: Boolean
  },
  unelevated: {
    type: Boolean
  },
  icon: {
    type: String
  },
  dropdownIcon: {
    type: String
  },
  alignDropdown: {
    type: String
  },
  alignItem: {
    type: String
  },
  clickable: {
    type: Boolean
  },
  vClosePopup: {
    type: Boolean
  },
  offset: {
    type: Array
  },
  contentStyle: {
    type: Object
  }
})

</script>

<template>
  <q-btn-dropdown
  :label="props.label"
  :no-caps="props.noCaps"
  :unelevated="props.unelevated"
  :icon="props.icon"
  :dropdown-icon="props.dropdownIcon"
  :align="props.align"
  class="dropdownButton q-pa-md"
  :content-style="props.contentStyle"
  :menu-offset="props.offset"
    >
        <q-list>
            <q-item v-for="item in props.options"
                    :key="item"
                    :clickable="props.clickable"
                    :align="props.align"
                    :v-close-popup="props.vClosePopup"

                    >
                <q-item-section @click="handleClick" >
                    {{ item }}
                </q-item-section>
            </q-item>
        </q-list>
    </q-btn-dropdown>

</template>

<style scoped>


</style>
