<template>
  <div>
    <q-table
    class="my-sticky-header-table"
      flat
      :rows="rows"
      :columns="columns"
      row-key="id"
      :pagination="myInitialPagination"
      :table-style="{ borderRadius: '8px' }"
      :table-header-style="{ color: '#0C1524', backgroundColor: '#f3f3f1', borderRadius: '8px', marginBottom: '5px' }"
      :separator="'none'"
    >
    <template #body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">{{ props.row.id }}</q-td>
        <q-td key="id" :props="props">{{ props.row.fullName }}</q-td>
        <q-td key="id" :props="props">{{ props.row.applicationDate }}</q-td>
        <q-td key="id" :props="props">
          <div class="tabledata-container">
            <!-- <div class="shape" :class="[
              {colorConfimed: props.row.status === 'Одобрено' ? activeClass: errorClass},
            {colorExpires: props.row.status === 'Истекает' ? activeClass: errorClass},
            {colorNew: props.row.status === 'Новый' ? activeClass: errorClass},
            {colorArchives: props.row.status === 'Архив' ? activeClass: errorClass},
            {colorFinalize: props.row.status === 'Доработать' ? activeClass: errorClass}
            ]"></div> -->
            <div class="shape" :class="props.row.class"></div>

            <div class="tabledata">{{ props.row.status }}</div>

          </div>
        </q-td>
        <q-td key="id" :props="props">{{ props.row.version }}</q-td>

      </q-tr>

    </template>

  </q-table>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'

const myInitialPagination = ref({
  rowsPerPage: 15
})


// const activeClass = ref(true)
// const errorClass = ref(false)

const selected = ref()
const columns = [
  {
    name: 'id',
    required: true,
    label: 'id',
    align: 'left',
    field: 'id',
    format: val => `${val}`,
    sortable: true
  },
  { name: 'fullName', align: 'left', label: 'ФИО', field: 'fullName', sortable: true },
  { name: 'applicationDate', align: 'left', label: 'Дата подачи', field: 'applicationDate', sortable: true },
  { name: 'status', align: 'left', label: 'Статус', field: 'status' },
  { name: 'version', align: 'left', label: 'Версия', field: 'version', sortable: true }
]

const rows = ref([
  {
    id: 1,
    fullName: 'Иванов Иван Иванович',
    applicationDate: '13.02.2023',
    status: 'Истекает',
    version: '1234567',
    class: 'colorExpires'
  }, {
    id: 2,
    fullName: 'Капустина Анна Евгеньевна',
    applicationDate: '01.03.2024',
    status: 'Истекает',
    version: '0223674',
    class: 'colorExpires'
  }, {
    id: 3,
    fullName: 'Морозова Дарья Андреевна',
    applicationDate: '21.10.2025',
    status: 'Новый',
    version: '4568825',
    class: 'colorNew'
  }, {
    id: 4,
    fullName: 'Комарова Ирина Викторовна',
    applicationDate: '05.01.2023',
    status: 'Одобрено',
    version: '1238645',
    class: 'colorConfirmed'
  }, {
    id: 5,
    fullName: 'Смирнов Михаил Михайлович',
    applicationDate: '26.07.2023',
    status: 'Одобрено',
    version: '4564588',
    class: 'colorConfirmed'
  }, {
    id: 6,
    fullName: 'Белова Мария Владимировна',
    applicationDate: '22.10.2023',
    status: 'Одобрено',
    version: '9652312',
    class: 'colorConfirmed'
  }, {
    id: 7,
    fullName: 'Егорова Анна Николаевна',
    applicationDate: '27.07.2023',
    status: 'Одобрено',
    version: '12378778',
    class: 'colorConfirmed'
  }, {
    id: 8,
    fullName: 'Степанова Марина Сергеевна',
    applicationDate: '10.09.2023',
    status: 'Одобрено',
    version: '47854444',
    class: 'colorConfirmed'
  }, {
    id: 9,
    fullName: 'Яковлев Иван Иванович',
    applicationDate: '17.12.2023',
    status: 'Одобрено',
    version: '25878658',
    class: 'colorConfirmed'
  }, {
    id: 10,
    fullName: 'Петрова Светлана Петровна',
    applicationDate: '12.08.2022',
    status: 'Архив',
    version: '12378778',
    class: 'colorArchives'
  }, {
    id: 11,
    fullName: 'Васильев Дмитрий Дмитриевич',
    applicationDate: '05.06.2024',
    status: 'Доработать',
    version: '47854444',
    class: 'colorFinalize'
  }, {
    id: 12,
    fullName: 'Иванова Ольга Ивановна',
    applicationDate: '31.11.2024',
    status: 'Одобрено',
    version: '25878658',
    class: 'colorConfirmed'
  }, {
    id: 13,
    fullName: 'Григорьев Андрей Андреевич',
    applicationDate: '16.12.2024',
    status: 'Доработать',
    version: '25878658',
    class: 'colorFinalize'
  }, {
    id: 14,
    fullName: 'Соловьева Елена Сергеевна',
    applicationDate: '21.08.2024',
    status: 'Доработать',
    version: '79946513',
    class: 'colorFinalize'
  }, {
    id: 15,
    fullName: 'Крылова Анастасия Александровна',
    applicationDate: '30.04.2024',
    status: 'Одобрено',
    version: '98716544',
    class: 'colorConfirmed'
  },{
    id: 16,
    fullName: 'Иванов Иван Иванович',
    applicationDate: '13.02.2023',
    status: 'Истекает',
    version: '1234567',

class: 'colorExpires'  }, {
    id: 17,
    fullName: 'Капустина Анна Евгеньевна',
    applicationDate: '01.03.2024',
    status: 'Истекает',
    version: '0223674',

class: 'colorExpires'  }, {
    id: 18,
    fullName: 'Морозова Дарья Андреевна',
    applicationDate: '21.10.2025',
    status: 'Новый',
    version: '4568825',

class: 'colorNew'  }, {
    id: 19,
    fullName: 'Комарова Ирина Викторовна',
    applicationDate: '05.01.2023',
    status: 'Одобрено',
    version: '1238645',

class: 'colorConfirmed'  }, {
    id: 20,
    fullName: 'Смирнов Михаил Михайлович',
    applicationDate: '26.07.2023',
    status: 'Одобрено',
    version: '4564588',

class: 'colorConfirmed'  }, {
    id: 21,
    fullName: 'Белова Мария Владимировна',
    applicationDate: '22.10.2023',
    status: 'Одобрено',
    version: '9652312',

class: 'colorConfirmed'  }, {
    id: 22,
    fullName: 'Егорова Анна Николаевна',
    applicationDate: '27.07.2023',
    status: 'Одобрено',
    version: '12378778',
    class: 'colorConfirmed'
  }, {
    id: 23,
    fullName: 'Степанова Марина Сергеевна',
    applicationDate: '10.09.2023',
    status: 'Одобрено',
    version: '47854444',
    class: 'colorConfirmed'
  }, {
    id: 24,
    fullName: 'Яковлев Иван Иванович',
    applicationDate: '17.12.2023',
    status: 'Одобрено',
    version: '25878658',
    class: 'colorConfirmed'
  }, {
    id: 25,
    fullName: 'Петрова Светлана Петровна',
    applicationDate: '12.08.2022',
    status: 'Архив',
    version: '12378778',
    class: 'colorArchives'
  }, {
    id: 26,
    fullName: 'Васильев Дмитрий Дмитриевич',
    applicationDate: '05.06.2024',
    status: 'Доработать',
    version: '47854444',
    class: 'colorFinalize'
  }, {
    id: 27,
    fullName: 'Иванова Ольга Ивановна',
    applicationDate: '31.11.2024',
    status: 'Одобрено',
    version: '25878658',
    class: 'colorConfirmed'
  }, {
    id: 28,
    fullName: 'Григорьев Андрей Андреевич',
    applicationDate: '16.12.2024',
    status: 'Доработать',
    version: '25878658',
    class: 'colorFinalize'
  }, {
    id: 29,
    fullName: 'Соловьева Елена Сергеевна',
    applicationDate: '21.08.2024',
    status: 'Доработать',
    version: '79946513',
    class: 'colorFinalize'
  }, {
    id: 30,
    fullName: 'Крылова Анастасия Александровна',
    applicationDate: '30.04.2024',
    status: 'Одобрено',
    version: '98716544',
    class: 'colorConfirmed'
  }
])


</script>
<style scoped>
.shape {
  height: 8px;
  width: 8px;
  border-radius: 100%;
}
.colorNew{
  background-color: #2876FB;
}
.colorExpires{
  background-color: #FECE2F;
}
.colorConfirmed{
  background-color: #21BD4F;
}
.colorArchives{
  background-color: #DDDEE0;
}
.colorFinalize{
  background-color: #F46322;
}


.tabledata-container{
  display: flex;

  align-items: center;
  gap: 8px;
}
</style>

<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 310px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */


  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 48px
</style>
